.container{
   display: flex;
   padding: 0 50px;
}
@media screen and (max-width: 694px){
    .container{
        display: grid;
        margin-top: 200%;
        margin-left: 18px;
      
       
    
}

}
