.container{
   display: flex;
   padding: 0 50px;
}
@media screen and (max-width: 768px){
    .container{
        display: grid;
        margin-top: 125%;
        margin-left: 1rem;
      
       
    
}

}